<section class="cto-container">
    <form [formGroup]="form" (ngSubmit)="criarCto()">

    <div class="form-group">
        <label>Nome:</label>
        <input
        type="text"
        placeholder="Digite o Nome do CTO"
        formControlName="name"
        />
    </div>

    <div class="form-group">
        <label>Longitude:</label>
        <input
        type="number"
        placeholder="Digite a Longitude"
        formControlName="longitude"
        />
    </div>

    <div class="form-group">
        <label>Latitude:</label>
        <input
        type="number"
        placeholder="Digite a Latitude"
        formControlName="latitude"
        />
    </div>

    <div class="form-group">
        <label>Id do modelo:</label>
        <input
        type="number"
        placeholder="Digite o id do modelo"
        formControlName="modelId"
        />
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid">
        Criar CTO
        </button>
    </div>
    
    </form>

<button (click)="listarCtos()">Listar CTOs</button>

<table *ngIf="ctos.length > 0" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Longitude</th>
      <th>Latitude</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cto of ctos">
      <td>{{ cto.id }}</td>
      <td>{{ cto.name }}</td>
      <td>{{ cto.longitude }}</td>
      <td>{{ cto.latitude }}</td>
    </tr>
  </tbody>
</table>
</section>